<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .newContainer{
            width: 100%;
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            border-radius: 6px;
        }
        .newContainer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newContainer form input,select{
    width: 100%;
    font-size: large;
    border-radius: 6px;
    padding: 5px;
}
.newContainer label{
    font-size: 20px;
}
.newContainer button{
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 5px;
}
.newContainer a{
    text-decoration: none;
    color: black;

}
    </style>
</head>
<body>
    <section class="newContainer">
        <h1>Update Transaction</h1>
        <form action="/edit/<%= editone._id %>" method="POST">
            <label for="desc">Description</label>
            <input type="text" name="description" id="description" value="<%= editone.description %>">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" value="<%= editone.amount %>">
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="Income" <%= editone.type === "Income" ? "selected" : ''  %>>Income</option>
                <option value="Expense" <%= editone.type === "Expense" ? 'selected' : '' %>>Expense</option>
            </select>
            <button type="submit" style="background-color: rgb(54, 237, 234);white-space: nowrap;">Update Transaction</button>
        </form>
        <button><a href="/">Back to Overview</a></button>
    </section>
</body>
</html>